@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Playfair+Display:wght@500&display=swap');

/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Playfair Display', serif;
*/

body {
    background: #ffffff;
    margin: 10px;
    display: block;
    text-align: center;
    align-content: center;
}
header {
    background: #FFE8E8;
    height: 70px;
}
    .logo{
        text-decoration: none;
    }
    .logo h1 {
        color: #AA3939;
        font-size: 3em;
        font-family: 'Playfair Display', serif;
        margin: 50px;
    }
    ul {
        text-align: right;
    }
    nav li {
        list-style-type: none;
        display: inline-block;
        justify-content: space-between;
    }

    nav ul li {
        margin: 10px;
        padding: 10px;
        font-family: 'DM Sans', sans-serif;
        font-size: 40px;
    }
  nav ul li a {
    padding: 40px;
  }
    nav ul li a {
        display: block;
        text-decoration: none;
        color: #D76E6E;
    }
    a:hover {
        background-color: #FFE8E8;
    }
    main {
        padding: 20px;
    }

    main a {
        text-decoration: none;
        color: #AA3939;
        padding: 5px;
        display: block;
        text-align: center;
        font-family: 'DM Sans', sans-serif;
        font-size: 2em;
    }

    main section h2 {
        font-family: 'Playfair Display', serif;
        color: #AA3939;
        padding: 10px;
    }
main img {
    align-content: center;
    
}

footer {
    background-color: #FFE8E8;
    font-family: 'Playfair Display', serif;
    padding: 10px;
    color: #AA3939;
    text-align: right;
}








/* css portion */


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    grid-gap: 40px;
}